llama-index-core==0.11.23
llama-index-readers-file==0.2.2
llama-index-embeddings-huggingface==0.3.1
langchain==0.3.7
langchain-groq==0.2.1
python-dotenv==1.0.1
gunicorn==21.2.0
flask==3.0.3
sentence-transformers==3.2.1
llama-index-vector-stores-pinecone==0.2.1
pinecone-client==5.0.1
pymupdf==1.24.13
pdfminer.six==20231228
pinecone
groq==0.11.0
langchain-google-genai==2.1.5
rank_bm25==0.2.2