llama-index-core==0.11.23
llama-index-readers-file==0.2.2
llama-index-vector-stores-chroma==0.2.0
llama-index-embeddings-huggingface==0.3.1
langchain==0.3.7
langchain-groq==0.2.1
chromadb==0.5.18
python-dotenv==1.0.1
gunicorn==21.2.0
flask==3.0.3